
/binary_clock_PCB/binary_clock-backups
binary_clock_PCB/\#auto_saved_files\#

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.kicad_prl
binary_clock_PCB/~binary_clock.kicad_pcb.lck
/lightbeam_s3_PCB/lightbeam_s3-backups
*.lck
lightbeam_s3_PCB/\#auto_saved_files\#
